{{#block}}yield=
  <div id="game"></div>
  <article class="page-width">
    <noscript>You need to enable JavaScript in order to play this game.</noscript>
    <h1>{{title}}</h1>
    <section id="description">
      <h2>The world ends in 2 minutes!</h2>
      <p>{{description}}</p>
      <p>The controls are pretty simple: Use WASD/arrow keys, D-pad/analog stick or swipe to move the spaceship around..</p>
      <p>This game was made in two days together with a couple of friends..</p>
    </section>
    <section id="credits">
      <h2>Credits</h2>
      <p>Code by <a href="http://the.codeartistic.ninja/">codeartistic.ninja</a>, <a href="http://www.fedthund.dk">Fedthund</a> and friend.</p>
      <p>Graphics by <a href="http://the.codeartistic.ninja/">codeartistic.ninja</a>.</p>
      <p>Music by <a href="https://soundcloud.com/auditory_cheesecake">Auditory Cheesecake</a>.</p>
      <p>Moon background based on <a href="https://www.flickr.com/photos/donkeyhotey/6143892887">photo by DonkeyHotey</a>.</p>
      <p>Source on <a href="https://github.com/fennesz/gamejam">github</a>.</p>
    </section>
  </article>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.6.1/phaser.min.js"></script>
  <script type="text/javascript" src="script/main.js"></script>
{{/block}}
{{>_layout}}
