{{#block}}yield=
  <div id="game"></div>
  <article class="page-width">
    <noscript>You need to enable JavaScript in order to play this game.</noscript>
    <h1>{{title}}</h1>
    <section id="description">
      <h2>Game jam</h2>
      <p>{{description}}</p>
      <p>I dunno...</p>
    </section>
    <section id="credits">
      <h2>Credits</h2>
      <p>Code and graphics by people.</p>
    </section>
  </article>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.5.0/phaser.min.js"></script>
  <script type="text/javascript" src="script/main.js"></script>
{{/block}}
{{>_layout}}
